<% include ./partials/header %>
	<form class="form-group" method="POST" action="/login">
		<div style="text-align: center;width: 22%;" class="container">
		<div style="border: 0px;" class="form-control">
			<label>Username:</label>
			<input type="text" name="username">
		</div>
		<div style="border: 0px;" class="form-control">
			<label>Password:</label>
			<input type="password" name="password">
		</div>
		
		<button class="btn btn-primary">Login</button>
	</div>
	</form>
<% include ./partials/footer %>